<a href="https://colab.research.google.com/github/VijayTaori/Python_BitcoinEthereum_webScrapping_analysis_visualization/blob/master/Calculating_staking_rewards%20in%20Eur.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/2021_TransactionHistoryBinance.csv')
df

FileNotFoundError: ignored

In [ ]:
df_binance_stakingRewards_2021 = df[df['Operation'] == 'Staking Rewards'].sort_values(by='Coin')

In [ ]:
df_binance_stakingRewards_2021.to_csv('binance_stakingRewards_2021.csv', index=False)

In [ ]:
df_binance_stakingRewards_2021 = pd.read_csv('binance_stakingRewards_2021.csv')
df_binance_stakingRewards_2021.tail()

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark
21384,59094579,16/10/2021 03:38,Spot,Staking Rewards,SOL,0.002268,NaN
21385,59094579,16/10/2021 03:37,Spot,Staking Rewards,SOL,0.002143,NaN
21386,59094579,16/10/2021 03:37,Spot,Staking Rewards,SOL,0.002087,NaN
21387,59094579,07/11/2021 07:36,Spot,Staking Rewards,SOL,0.000029,NaN
21388,59094579,31/12/2021 01:07,Spot,Staking Rewards,SOL,0.000222,NaN

In [ ]:
def open_multiple_csv_as_df(xyz):
  name = 'df_{}_rates_2021'.format(xyz)
  filename = '{}-EUR_2021'.format(xyz)
  return (name, filename)

In [ ]:
list_coins_staking_rates = list(map(open_multiple_csv_as_df,list_staking_pool))

In [ ]:
list_coins_staking_rates

[('df_ALGO_rates_2021', 'ALGO-EUR_2021'),
 ('df_ATOM_rates_2021', 'ATOM-EUR_2021'),
 ('df_AVAX_rates_2021', 'AVAX-EUR_2021'),
 ('df_AXS_rates_2021', 'AXS-EUR_2021'),
 ('df_BNB_rates_2021', 'BNB-EUR_2021'),
 ('df_CAKE_rates_2021', 'CAKE-EUR_2021'),
 ('df_COTI_rates_2021', 'COTI-EUR_2021'),
 ('df_DOT_rates_2021', 'DOT-EUR_2021'),
 ('df_EGLD_rates_2021', 'EGLD-EUR_2021'),
 ('df_FIL_rates_2021', 'FIL-EUR_2021'),
 ('df_HNT_rates_2021', 'HNT-EUR_2021'),
 ('df_KSM_rates_2021', 'KSM-EUR_2021'),
 ('df_MATIC_rates_2021', 'MATIC-EUR_2021'),
 ('df_ONE_rates_2021', 'ONE-EUR_2021'),
 ('df_SAND_rates_2021', 'SAND-EUR_2021'),
 ('df_SOL_rates_2021', 'SOL-EUR_2021')]

In [ ]:
for coin in list_coins_staking_rates:
  coin[0] = pd.read_csv('{}.csv'.format(coin[1]))

TypeError: ignored

In [ ]:
df_ADA_rates_2021 = pd.read_csv('ADA-EUR_2021.csv')
df_ALGO_rates_2021 = pd.read_csv('ALGO-EUR_2021.csv')
df_ATOM_rates_2021 = pd.read_csv('ATOM-EUR_2021.csv')
df_AVAX_rates_2021 = pd.read_csv('AVAX-EUR_2021.csv')
df_AXS_rates_2021 = pd.read_csv('AXS-EUR_2021.csv')
df_BNB_rates_2021 = pd.read_csv('BNB-EUR_2021.csv')
df_CAKE_rates_2021 = pd.read_csv('CAKE-EUR_2021.csv')
df_COTI_rates_2021 = pd.read_csv('COTI-EUR_2021.csv')
df_DOT_rates_2021 = pd.read_csv('DOT-EUR_2021.csv')
df_EGLD_rates_2021 = pd.read_csv('EGLD-EUR_2021.csv')
df_FIL_rates_2021 = pd.read_csv('FIL-EUR_2021.csv')
df_HNT_rates_2021 = pd.read_csv('HNT-EUR_2021.csv')
df_KSM_rates_2021 = pd.read_csv('KSM-EUR_2021.csv')
df_LINK_rates_2021 = pd.read_csv('LINK-EUR_2021.csv')
df_MATIC_rates_2021 = pd.read_csv('MATIC-EUR_2021.csv')
df_SAND_rates_2021 = pd.read_csv('SAND-EUR_2021.csv')
# SOL's end outcome was wrong 
# trying to find what happened below
#df_SOL_rates_2021 = pd.read_csv('SOL-EUR_2021.csv')

In [ ]:
df_SOL_rates_2021 = pd.read_csv('SOL-EUR_2021.csv')

In [ ]:
df_ADA_rates_2021['Date'] = pd.to_datetime(df_ADA_rates_2021['Date'],
                                           dayfirst=True)

In [ ]:
df_ALGO_rates_2021['Date'] = pd.to_datetime(df_ALGO_rates_2021['Date'],
                                           dayfirst=True)
df_ATOM_rates_2021['Date'] = pd.to_datetime(df_ATOM_rates_2021['Date'],
                                           dayfirst=True)
df_AVAX_rates_2021['Date'] = pd.to_datetime(df_AVAX_rates_2021['Date'],
                                           dayfirst=True)
df_AXS_rates_2021['Date'] = pd.to_datetime(df_AXS_rates_2021['Date'],
                                           dayfirst=True)
df_BNB_rates_2021['Date'] = pd.to_datetime(df_BNB_rates_2021['Date'],
                                           dayfirst=True)
df_CAKE_rates_2021['Date'] = pd.to_datetime(df_CAKE_rates_2021['Date'],
                                           dayfirst=True)
df_COTI_rates_2021['Date'] = pd.to_datetime(df_COTI_rates_2021['Date'],
                                           dayfirst=True)
df_DOT_rates_2021['Date'] = pd.to_datetime(df_DOT_rates_2021['Date'],
                                           dayfirst=True)
df_EGLD_rates_2021['Date'] = pd.to_datetime(df_EGLD_rates_2021['Date'],
                                           dayfirst=True)
df_FIL_rates_2021['Date'] = pd.to_datetime(df_FIL_rates_2021['Date'],
                                           dayfirst=True)
df_HNT_rates_2021['Date'] = pd.to_datetime(df_HNT_rates_2021['Date'],
                                           dayfirst=True)
df_KSM_rates_2021['Date'] = pd.to_datetime(df_KSM_rates_2021['Date'],
                                           dayfirst=True)
df_MATIC_rates_2021['Date'] = pd.to_datetime(df_MATIC_rates_2021['Date'],
                                           dayfirst=True)
df_SAND_rates_2021['Date'] = pd.to_datetime(df_SAND_rates_2021['Date'],
'''                                           dayfirst=True)
# SOL's end outcome was wrong 
# trying to find what happened below
df_SOL_rates_2021['Date'] = pd.to_datetime(df_SOL_rates_2021['Date'],
                                           dayfirst=True)
'''

In [ ]:
df_SOL_rates_2021['Date'] = pd.to_datetime(df_SOL_rates_2021['Date'],
                                           dayfirst=True)

In [ ]:
df_SOL_rates_2021.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
360,2021-12-27,174.755386,180.632233,172.606262,172.494476,172.494476,1588840985
361,2021-12-28,172.664078,172.664078,156.676651,156.830582,156.830582,2498022588
362,2021-12-29,156.798264,159.686127,150.154846,150.229340,150.229340,1915289600
363,2021-12-30,150.323730,155.101563,148.472061,152.570923,152.570923,1360665175
364,2021-12-31,152.529099,156.579666,147.867035,149.727280,149.727280,1378517362

In [ ]:
df_SOL_rates_2021.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [ ]:
df_ADA_rates_2021.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [ ]:
df_ADA_StkRwrd_2021_Binance.dtypes

User_ID               int64
UTC_Time             object
Account              object
Operation            object
Coin                 object
Change              float64
Remark               object
DateTime     datetime64[ns]
Date         datetime64[ns]
dtype: object

In [ ]:
'''
This is repeated
df_ALGO_rates_2021['Date'] = pd.to_datetime(df_ALGO_rates_2021['Date'],
                                           dayfirst=True)
df_ATOM_rates_2021['Date'] = pd.to_datetime(df_ATOM_rates_2021['Date'],
                                           dayfirst=True)
df_AVAX_rates_2021['Date'] = pd.to_datetime(df_AVAX_rates_2021['Date'],
                                           dayfirst=True)
df_AXS_rates_2021['Date'] = pd.to_datetime(df_AXS_rates_2021['Date'],
                                           dayfirst=True)
df_BNB_rates_2021['Date'] = pd.to_datetime(df_BNB_rates_2021['Date'],
                                           dayfirst=True)
df_CAKE_rates_2021['Date'] = pd.to_datetime(df_CAKE_rates_2021['Date'],
                                           dayfirst=True)
df_COTI_rates_2021['Date'] = pd.to_datetime(df_COTI_rates_2021['Date'],
                                           dayfirst=True)
df_DOT_rates_2021['Date'] = pd.to_datetime(df_DOT_rates_2021['Date'],
                                           dayfirst=True)
df_EGLD_rates_2021['Date'] = pd.to_datetime(df_EGLD_rates_2021['Date'],
                                           dayfirst=True)
df_FIL_rates_2021['Date'] = pd.to_datetime(df_FIL_rates_2021['Date'],
                                           dayfirst=True)
df_HNT_rates_2021['Date'] = pd.to_datetime(df_HNT_rates_2021['Date'],
                                           dayfirst=True)
df_KSM_rates_2021['Date'] = pd.to_datetime(df_KSM_rates_2021['Date'],
                                           dayfirst=True)
df_MATIC_rates_2021['Date'] = pd.to_datetime(df_MATIC_rates_2021['Date'],
                                           dayfirst=True)
df_SAND_rates_2021['Date'] = pd.to_datetime(df_SAND_rates_2021['Date'],
                                           dayfirst=True)
'''                                           dayfirst=True)

In [ ]:
df_ADA_StkRwrd_2021_Binance.head()

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark,DateTime,Date
4196,59094579,01/07/2021 01:33,Spot,Staking Rewards,ADA,1.386135,NaN,2021-07-01 01:33:00,2021-07-01
4197,59094579,01/07/2021 01:35,Spot,Staking Rewards,ADA,0.000317,NaN,2021-07-01 01:35:00,2021-07-01
4198,59094579,01/07/2021 01:35,Spot,Staking Rewards,ADA,0.000317,NaN,2021-07-01 01:35:00,2021-07-01
4199,59094579,01/07/2021 01:37,Spot,Staking Rewards,ADA,0.000633,NaN,2021-07-01 01:37:00,2021-07-01
4200,59094579,01/07/2021 01:40,Spot,Staking Rewards,ADA,0.000634,NaN,2021-07-01 01:40:00,2021-07-01

In [ ]:
import datetime as dt

In [ ]:
df_binance_stakingRewards_2021_ADA = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'ADA'].sort_values(by='UTC_Time')

In [ ]:
df_binance_stakingRewards_2021_ALGO = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'ALGO'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_ATOM = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'ATOM'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_AVAX = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'AVAX'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_AXS = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'AXS'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_BNB = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'BNB'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_CAKE = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'CAKE'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_COTI = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'COTI'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_DOT = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'DOT'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_EGLD = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'EGLD'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_FIL = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'FIL'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_HNT = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'HNT'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_KSM = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'KSM'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_MATIC = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'MATIC'].sort_values(by='UTC_Time')
df_binance_stakingRewards_2021_SAND = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'SAND'].sort_values(by='UTC_Time')
                                           dayfirst=True)
'''
# SOL's end outcome was wrong 
# trying to find what happened below
df_binance_stakingRewards_2021_SOL = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'SOL'].sort_values(by='UTC_Time')
'''

In [ ]:
df_binance_stakingRewards_2021_SOL = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'SOL'].sort_values(by='UTC_Time')

In [ ]:
df_binance_stakingRewards_2021_ADA['Change'].sum()

291.56445833

In [ ]:
df_binance_stakingRewards_2021_SOL['Change'].sum()

0.70715899

In [ ]:
df_ALGO_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_ALGO
df_ATOM_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_ATOM
df_AVAX_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_AVAX
df_AXS_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_AXS
df_BNB_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_BNB
df_CAKE_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_CAKE
df_COTI_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_COTI
df_DOT_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_DOT
df_EGLD_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_EGLD
df_FIL_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_FIL
df_HNT_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_HNT
df_KSM_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_KSM
df_MATIC_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_MATIC
df_SAND_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_SAND
'''
# SOL's end outcome was wrong 
# trying to find what happened below
df_SOL_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_SOL
'''

In [ ]:
df_SOL_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_SOL

In [12]:
print(df_SOL_StkRwrd_2021_Binance.dtypes)
print(df_binance_stakingRewards_2021_SOL.dtypes)
df_SOL_StkRwrd_2021_Binance.head()

User_ID        int64
UTC_Time      object
Account       object
Operation     object
Coin          object
Change       float64
Remark       float64
dtype: object
User_ID        int64
UTC_Time      object
Account       object
Operation     object
Coin          object
Change       float64
Remark       float64
dtype: object

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark
20589,59094579,01/07/2021 07:58,Spot,Staking Rewards,SOL,0.000596,NaN
20786,59094579,01/08/2021 01:58,Spot,Staking Rewards,SOL,0.000596,NaN
20499,59094579,01/09/2021 01:50,Spot,Staking Rewards,SOL,0.000605,NaN
21016,59094579,01/10/2021 03:19,Spot,Staking Rewards,SOL,0.000605,NaN
20955,59094579,01/10/2021 03:20,Spot,Staking Rewards,SOL,0.000589,NaN

In [ ]:
df_ADA_StkRwrd_2021_Binance = df_binance_stakingRewards_2021_ADA

In [ ]:
df_ADA_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_ADA['UTC_Time'],dayfirst=True)

In [ ]:
df_ALGO_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_ALGO['UTC_Time'],dayfirst=True)
df_ATOM_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_ATOM['UTC_Time'],dayfirst=True)
df_AVAX_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_AVAX['UTC_Time'],dayfirst=True)
df_AXS_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_AXS['UTC_Time'],dayfirst=True)
df_BNB_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_BNB['UTC_Time'],dayfirst=True)
df_CAKE_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_CAKE['UTC_Time'],dayfirst=True)
df_COTI_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_COTI['UTC_Time'],dayfirst=True)
df_DOT_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_DOT['UTC_Time'],dayfirst=True)
df_EGLD_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_EGLD['UTC_Time'],dayfirst=True)
df_FIL_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_FIL['UTC_Time'],dayfirst=True)
df_HNT_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_HNT['UTC_Time'],dayfirst=True)
df_KSM_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_KSM['UTC_Time'],dayfirst=True)
df_MATIC_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_MATIC['UTC_Time'],dayfirst=True)
df_SAND_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_SAND['UTC_Time'],dayfirst=True)
'''
# SOL's end outcome was wrong 
# trying to find what happened below
df_SOL_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_SOL['UTC_Time'],dayfirst=True)
'''

In [13]:
df_SOL_StkRwrd_2021_Binance['DateTime'] = pd.to_datetime(df_binance_stakingRewards_2021_SOL['UTC_Time'],dayfirst=True)

In [15]:
print(df_SOL_StkRwrd_2021_Binance.dtypes)
df_SOL_StkRwrd_2021_Binance.tail()

User_ID               int64
UTC_Time             object
Account              object
Operation            object
Coin                 object
Change              float64
Remark              float64
DateTime     datetime64[ns]
dtype: object

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark,DateTime
20457,59094579,31/12/2021 01:07,Spot,Staking Rewards,SOL,0.000412,NaN,2021-12-31 01:07:00
20455,59094579,31/12/2021 01:07,Spot,Staking Rewards,SOL,0.000222,NaN,2021-12-31 01:07:00
20452,59094579,31/12/2021 01:07,Spot,Staking Rewards,SOL,0.003473,NaN,2021-12-31 01:07:00
20740,59094579,31/12/2021 01:07,Spot,Staking Rewards,SOL,0.000222,NaN,2021-12-31 01:07:00
21388,59094579,31/12/2021 01:07,Spot,Staking Rewards,SOL,0.000222,NaN,2021-12-31 01:07:00

In [ ]:
df_ADA_StkRwrd_2021_Binance.tail(10)

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark,DateTime
24802,59094579,31/12/2021 00:41,Spot,Staking Rewards,ADA,0.064026,NaN,2021-12-31 00:41:00
24814,59094579,31/12/2021 00:41,Spot,Staking Rewards,ADA,0.006726,NaN,2021-12-31 00:41:00
24810,59094579,31/12/2021 00:41,Spot,Staking Rewards,ADA,0.002134,NaN,2021-12-31 00:41:00
24809,59094579,31/12/2021 00:41,Spot,Staking Rewards,ADA,0.002134,NaN,2021-12-31 00:41:00
24806,59094579,31/12/2021 00:41,Spot,Staking Rewards,ADA,0.094545,NaN,2021-12-31 00:41:00
24818,59094579,31/12/2021 00:42,Spot,Staking Rewards,ADA,0.015296,NaN,2021-12-31 00:42:00
24822,59094579,31/12/2021 00:42,Spot,Staking Rewards,ADA,0.021342,NaN,2021-12-31 00:42:00
24825,59094579,31/12/2021 00:42,Spot,Staking Rewards,ADA,0.596207,NaN,2021-12-31 00:42:00
24828,59094579,31/12/2021 00:43,Spot,Staking Rewards,ADA,0.066628,NaN,2021-12-31 00:43:00
24830,59094579,31/12/2021 00:43,Spot,Staking Rewards,ADA,0.149940,NaN,2021-12-31 00:43:00

In [17]:
def datetime2date(date_time):
  date = date_time.date()
  return date

In [ ]:
df_ADA_StkRwrd_2021_Binance['Date'] = df_ADA_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_ADA_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_ADA_StkRwrd_2021_Binance['Date'])

In [ ]:
ATlist_staking_pool = ['ALGO', 'ATOM', 'AVAX', 'AXS', 'BNB', 'CAKE', 'COTI', 'DOT',
       'EGLD', 'FIL', 'HNT', 'KSM', 'MATIC', 'ONE', 'SAND',
       'SOL']

In [ ]:
df_ALGO_StkRwrd_2021_Binance['Date'] = df_ALGO_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_ALGO_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_ALGO_StkRwrd_2021_Binance['Date'])
df_ATOM_StkRwrd_2021_Binance['Date'] = df_ATOM_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_ATOM_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_ATOM_StkRwrd_2021_Binance['Date'])
df_AVAX_StkRwrd_2021_Binance['Date'] = df_AVAX_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_AVAX_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_AVAX_StkRwrd_2021_Binance['Date'])
df_AXS_StkRwrd_2021_Binance['Date'] = df_AXS_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_AXS_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_AXS_StkRwrd_2021_Binance['Date'])
df_BNB_StkRwrd_2021_Binance['Date'] = df_BNB_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_BNB_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_BNB_StkRwrd_2021_Binance['Date'])
df_CAKE_StkRwrd_2021_Binance['Date'] = df_CAKE_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_CAKE_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_CAKE_StkRwrd_2021_Binance['Date'])
df_COTI_StkRwrd_2021_Binance['Date'] = df_COTI_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_COTI_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_COTI_StkRwrd_2021_Binance['Date'])
df_DOT_StkRwrd_2021_Binance['Date'] = df_DOT_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_DOT_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_DOT_StkRwrd_2021_Binance['Date'])
df_EGLD_StkRwrd_2021_Binance['Date'] = df_EGLD_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_EGLD_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_EGLD_StkRwrd_2021_Binance['Date'])
df_FIL_StkRwrd_2021_Binance['Date'] = df_FIL_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_FIL_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_FIL_StkRwrd_2021_Binance['Date'])
df_HNT_StkRwrd_2021_Binance['Date'] = df_HNT_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_HNT_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_HNT_StkRwrd_2021_Binance['Date'])
df_KSM_StkRwrd_2021_Binance['Date'] = df_KSM_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_KSM_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_KSM_StkRwrd_2021_Binance['Date'])
df_MATIC_StkRwrd_2021_Binance['Date'] = df_MATIC_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_MATIC_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_MATIC_StkRwrd_2021_Binance['Date'])
df_SAND_StkRwrd_2021_Binance['Date'] = df_SAND_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_SAND_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_SAND_StkRwrd_2021_Binance['Date'])
'''
# SOL's end outcome was wrong 
# trying to find what happened below
df_SOL_StkRwrd_2021_Binance['Date'] = df_SAND_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_SOL_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_SOL_StkRwrd_2021_Binance['Date'])
'''

In [18]:
df_SOL_StkRwrd_2021_Binance['Date'] = df_SOL_StkRwrd_2021_Binance['DateTime'].map(datetime2date)
df_SOL_StkRwrd_2021_Binance['Date'] = pd.to_datetime(df_SOL_StkRwrd_2021_Binance['Date'])

In [19]:
df_SOL_StkRwrd_2021_Binance.tail(10)

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark,DateTime,Date
20472,59094579,31/12/2021 01:06,Spot,Staking Rewards,SOL,0.000278,NaN,2021-12-31 01:06:00,2021-12-31
20464,59094579,31/12/2021 01:06,Spot,Staking Rewards,SOL,0.000219,NaN,2021-12-31 01:06:00,2021-12-31
20462,59094579,31/12/2021 01:06,Spot,Staking Rewards,SOL,0.000219,NaN,2021-12-31 01:06:00,2021-12-31
20459,59094579,31/12/2021 01:06,Spot,Staking Rewards,SOL,0.000334,NaN,2021-12-31 01:06:00,2021-12-31
20458,59094579,31/12/2021 01:06,Spot,Staking Rewards,SOL,0.003511,NaN,2021-12-31 01:06:00,2021-12-31
20457,59094579,31/12/2021 01:07,Spot,Staking Rewards,SOL,0.000412,NaN,2021-12-31 01:07:00,2021-12-31
20455,59094579,31/12/2021 01:07,Spot,Staking Rewards,SOL,0.000222,NaN,2021-12-31 01:07:00,2021-12-31
20452,59094579,31/12/2021 01:07,Spot,Staking Rewards,SOL,0.003473,NaN,2021-12-31 01:07:00,2021-12-31
20740,59094579,31/12/2021 01:07,Spot,Staking Rewards,SOL,0.000222,NaN,2021-12-31 01:07:00,2021-12-31
21388,59094579,31/12/2021 01:07,Spot,Staking Rewards,SOL,0.000222,NaN,2021-12-31 01:07:00,2021-12-31

In [ ]:
df_ADA_StkRwrd_2021_Binance.tail(10)

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark,DateTime,Date
24802,59094579,31/12/2021 00:41,Spot,Staking Rewards,ADA,0.064026,NaN,2021-12-31 00:41:00,2021-12-31
24814,59094579,31/12/2021 00:41,Spot,Staking Rewards,ADA,0.006726,NaN,2021-12-31 00:41:00,2021-12-31
24810,59094579,31/12/2021 00:41,Spot,Staking Rewards,ADA,0.002134,NaN,2021-12-31 00:41:00,2021-12-31
24809,59094579,31/12/2021 00:41,Spot,Staking Rewards,ADA,0.002134,NaN,2021-12-31 00:41:00,2021-12-31
24806,59094579,31/12/2021 00:41,Spot,Staking Rewards,ADA,0.094545,NaN,2021-12-31 00:41:00,2021-12-31
24818,59094579,31/12/2021 00:42,Spot,Staking Rewards,ADA,0.015296,NaN,2021-12-31 00:42:00,2021-12-31
24822,59094579,31/12/2021 00:42,Spot,Staking Rewards,ADA,0.021342,NaN,2021-12-31 00:42:00,2021-12-31
24825,59094579,31/12/2021 00:42,Spot,Staking Rewards,ADA,0.596207,NaN,2021-12-31 00:42:00,2021-12-31
24828,59094579,31/12/2021 00:43,Spot,Staking Rewards,ADA,0.066628,NaN,2021-12-31 00:43:00,2021-12-31
24830,59094579,31/12/2021 00:43,Spot,Staking Rewards,ADA,0.149940,NaN,2021-12-31 00:43:00,2021-12-31

In [ ]:
df_ada_stk = pd.merge(df_ADA_StkRwrd_2021_Binance, df_ADA_rates_2021, on='Date')

In [ ]:
df_ada_stk.to_csv('ada_stk_2021.csv',index=False)

In [ ]:
df_algo_stk = pd.merge(df_ALGO_StkRwrd_2021_Binance, df_ALGO_rates_2021, on='Date')

In [ ]:
df_ada_stk['Eur_Low'] = df_ada_stk['Low'] * df_ada_stk['Change']
df_ada_stk['Eur_Open'] = df_ada_stk['Open'] * df_ada_stk['Change']
print(df_ada_stk['Eur_Low'].sum())
print(df_ada_stk['Eur_Open'].sum())

447.1121490256332
465.199743863104

In [ ]:
df_algo_stk['Eur_Low'] = df_algo_stk['Low'] * df_algo_stk['Change']
df_algo_stk['Eur_Open'] = df_algo_stk['Open'] * df_algo_stk['Change']
print(df_algo_stk['Eur_Low'].sum())
print(df_algo_stk['Eur_Open'].sum())
df_algo_stk.to_csv('algo_stk_2021.csv',index=False)

7.146058884428331
7.533297992528251

In [ ]:
df_atom_stk = pd.merge(df_ATOM_StkRwrd_2021_Binance, df_ATOM_rates_2021, on='Date')
df_atom_stk['Eur_Low'] = df_atom_stk['Low'] * df_atom_stk['Change']
df_atom_stk['Eur_Open'] = df_atom_stk['Open'] * df_atom_stk['Change']
print(df_atom_stk['Eur_Low'].sum())
print(df_atom_stk['Eur_Open'].sum())
df_atom_stk.to_csv('atom_stk_2021.csv',index=False)

5.72627486141397
6.094873257628029

In [ ]:
df_avax_stk = pd.merge(df_AVAX_StkRwrd_2021_Binance, df_AVAX_rates_2021, on='Date')
df_avax_stk['Eur_Low'] = df_avax_stk['Low'] * df_avax_stk['Change']
df_avax_stk['Eur_Open'] = df_avax_stk['Open'] * df_avax_stk['Change']
print(df_avax_stk['Eur_Low'].sum())
print(df_avax_stk['Eur_Open'].sum())
df_avax_stk.to_csv('avax_stk_2021.csv',index=False)

367.3880936449615
388.387718527046

In [ ]:
df_axs_stk = pd.merge(df_AXS_StkRwrd_2021_Binance, df_AXS_rates_2021, on='Date')
df_axs_stk['Eur_Low'] = df_axs_stk['Low'] * df_axs_stk['Change']
df_axs_stk['Eur_Open'] = df_axs_stk['Open'] * df_axs_stk['Change']
print(df_axs_stk['Eur_Low'].sum())
print(df_axs_stk['Eur_Open'].sum())
df_axs_stk.to_csv('axs_stk_2021.csv',index=False)

248.91680575441552
260.26574449896026

In [ ]:
df_bnb_stk = pd.merge(df_BNB_StkRwrd_2021_Binance, df_BNB_rates_2021, on='Date')
df_bnb_stk['Eur_Low'] = df_bnb_stk['Low'] * df_bnb_stk['Change']
df_bnb_stk['Eur_Open'] = df_bnb_stk['Open'] * df_bnb_stk['Change']
print(df_bnb_stk['Eur_Low'].sum())
print(df_bnb_stk['Eur_Open'].sum())
df_bnb_stk.to_csv('bnb_stk_2021.csv',index=False)

5.37498577155984
5.56827171842728

In [ ]:
df_cake_stk = pd.merge(df_CAKE_StkRwrd_2021_Binance, df_CAKE_rates_2021, on='Date')
df_cake_stk['Eur_Low'] = df_cake_stk['Low'] * df_cake_stk['Change']
df_cake_stk['Eur_Open'] = df_cake_stk['Open'] * df_cake_stk['Change']
print(df_cake_stk['Eur_Low'].sum())
print(df_cake_stk['Eur_Open'].sum())
df_cake_stk.to_csv('cake_stk_2021.csv',index=False)

58.927866610568884
61.30673179749533

In [ ]:
df_coti_stk = pd.merge(df_COTI_StkRwrd_2021_Binance, df_COTI_rates_2021, on='Date')
df_coti_stk['Eur_Low'] = df_coti_stk['Low'] * df_coti_stk['Change']
df_coti_stk['Eur_Open'] = df_coti_stk['Open'] * df_coti_stk['Change']
print(df_coti_stk['Eur_Low'].sum())
print(df_coti_stk['Eur_Open'].sum())
df_coti_stk.to_csv('coti_stk_2021.csv',index=False)

0.55301269236165
0.5782096578156299

In [ ]:
df_dot_stk = pd.merge(df_DOT_StkRwrd_2021_Binance, df_DOT_rates_2021, on='Date')
df_dot_stk['Eur_Low'] = df_dot_stk['Low'] * df_dot_stk['Change']
df_dot_stk['Eur_Open'] = df_dot_stk['Open'] * df_dot_stk['Change']
print(df_dot_stk['Eur_Low'].sum())
print(df_dot_stk['Eur_Open'].sum())
df_dot_stk.to_csv('dot_stk_2021.csv',index=False)

515.6347698961524
540.9150277697821

In [ ]:
df_egld_stk = pd.merge(df_EGLD_StkRwrd_2021_Binance, df_EGLD_rates_2021, on='Date')
df_egld_stk['Eur_Low'] = df_egld_stk['Low'] * df_egld_stk['Change']
df_egld_stk['Eur_Open'] = df_egld_stk['Open'] * df_egld_stk['Change']
print(df_egld_stk['Eur_Low'].sum())
print(df_egld_stk['Eur_Open'].sum())
df_egld_stk.to_csv('egld_stk_2021.csv',index=False)

20.68967300869329
21.885044985864354

In [ ]:
df_fil_stk = pd.merge(df_FIL_StkRwrd_2021_Binance, df_FIL_rates_2021, on='Date')
df_fil_stk['Eur_Low'] = df_fil_stk['Low'] * df_fil_stk['Change']
df_fil_stk['Eur_Open'] = df_fil_stk['Open'] * df_fil_stk['Change']
print(df_fil_stk['Eur_Low'].sum())
print(df_fil_stk['Eur_Open'].sum())
df_fil_stk.to_csv('fil_stk_2021.csv',index=False)

5.22700694070061
5.44997076006388

In [ ]:
df_hnt_stk = pd.merge(df_HNT_StkRwrd_2021_Binance, df_HNT_rates_2021, on='Date')
df_hnt_stk['Eur_Low'] = df_hnt_stk['Low'] * df_hnt_stk['Change']
df_hnt_stk['Eur_Open'] = df_hnt_stk['Open'] * df_hnt_stk['Change']
print(df_hnt_stk['Eur_Low'].sum())
print(df_hnt_stk['Eur_Open'].sum())
df_hnt_stk.to_csv('hnt_stk_2021.csv',index=False)

0.22339463801833997
0.2360759494194

In [ ]:
df_ksm_stk = pd.merge(df_KSM_StkRwrd_2021_Binance, df_KSM_rates_2021, on='Date')
df_ksm_stk['Eur_Low'] = df_ksm_stk['Low'] * df_ksm_stk['Change']
df_ksm_stk['Eur_Open'] = df_ksm_stk['Open'] * df_ksm_stk['Change']
print(df_ksm_stk['Eur_Low'].sum())
print(df_ksm_stk['Eur_Open'].sum())
df_ksm_stk.to_csv('ksm_stk_2021.csv',index=False)

134.7794085243631
142.11701762569268

In [ ]:
#No staking rewards received for LINK
df_link_stk = pd.merge(df_LINK_StkRwrd_2021_Binance, df_LINK_rates_2021, on='Date')
df_link_stk['Eur_Low'] = df_link_stk['Low'] * df_link_stk['Change']
df_link_stk['Eur_Open'] = df_link_stk['Open'] * df_link_stk['Change']
print(df_link_stk['Eur_Low'].sum())
print(df_link_stk['Eur_Open'].sum())
df_link_stk.to_csv('link_stk_2021.csv',index=False)

NameError: ignored

In [ ]:
df_matic_stk = pd.merge(df_MATIC_StkRwrd_2021_Binance, df_MATIC_rates_2021, on='Date')
df_matic_stk['Eur_Low'] = df_matic_stk['Low'] * df_matic_stk['Change']
df_matic_stk['Eur_Open'] = df_matic_stk['Open'] * df_matic_stk['Change']
print(df_matic_stk['Eur_Low'].sum())
print(df_matic_stk['Eur_Open'].sum())
df_matic_stk.to_csv('matic_stk_2021.csv',index=False)

119.78427845309812
126.07912355959047

In [ ]:
df_sand_stk = pd.merge(df_SAND_StkRwrd_2021_Binance, df_SAND_rates_2021, on='Date')
df_sand_stk['Eur_Low'] = df_sand_stk['Low'] * df_sand_stk['Change']
df_sand_stk['Eur_Open'] = df_sand_stk['Open'] * df_sand_stk['Change']
print(df_sand_stk['Eur_Low'].sum())
print(df_sand_stk['Eur_Open'].sum())
df_sand_stk.to_csv('sand_stk_2021.csv',index=False)

24.864554883490914
26.71371314419566

In [20]:
df_sol_stk = pd.merge(df_SOL_StkRwrd_2021_Binance, df_SOL_rates_2021, on='Date')
df_sol_stk['Eur_Low'] = df_sol_stk['Low'] * df_sol_stk['Change']
df_sol_stk['Eur_Open'] = df_sol_stk['Open'] * df_sol_stk['Change']
print(df_sol_stk['Eur_Low'].sum())
print(df_sol_stk['Eur_Open'].sum())
df_sol_stk.to_csv('sol_stk_2021.csv',index=False)

100.65089166976898
104.77984025020649

In [ ]:
df_ADA_rates_2021.head()

        Date      Open      High       Low     Close  Adj Close      Volume
0 2021-01-01  0.148485  0.150854  0.141780  0.144257   0.144257   923227430
1 2021-01-02  0.144264  0.151836  0.139458  0.146207   0.146207  1160980748
2 2021-01-03  0.146174  0.170391  0.142873  0.167342   0.167342  1880692200
3 2021-01-04  0.167539  0.195633  0.158172  0.183441   0.183441  2661232602
4 2021-01-05  0.183485  0.215437  0.169860  0.210037   0.210037  3331468004

In [ ]:
df_all_rates_2021 = pd.concat([df_ADA_rates_2021,
                               df_ALGO_rates_2021,
                               df_ATOM_rates_2021,
                               df_AVAX_rates_2021,
                               df_AXS_rates_2021,
                               df_BNB_rates_2021,
                               df_CAKE_rates_2021,
                               df_COTI_rates_2021,
                               df_DOT_rates_2021,
                               df_EGLD_rates_2021,
                               df_FIL_rates_2021,
                               df_HNT_rates_2021,
                               df_KSM_rates_2021,
                               df_LINK_rates_2021,
                               df_MATIC_rates_2021,
                               df_SAND_rates_2021,
                               df_SOL_rates_2021])

In [ ]:
df_all_rates_2021

,Date,Open,High,Low,Close,Adj Close,Volume
0,01/01/2021,0.148485,0.150854,0.141780,0.144257,0.144257,9.232274e+08
1,02/01/2021,0.144264,0.151836,0.139458,0.146207,0.146207,1.160981e+09
2,03/01/2021,0.146174,0.170391,0.142873,0.167342,0.167342,1.880692e+09
3,04/01/2021,0.167539,0.195633,0.158172,0.183441,0.183441,2.661233e+09
4,05/01/2021,0.183485,0.215437,0.169860,0.210037,0.210037,3.331468e+09
...,...,...,...,...,...,...,...
360,27/12/2021,174.755386,180.632233,172.606262,172.494476,172.494476,1.588841e+09
361,28/12/2021,172.664078,172.664078,156.676651,156.830582,156.830582,2.498023e+09
362,29/12/2021,156.798264,159.686127,150.154846,150.229340,150.229340,1.915290e+09
363,30/12/2021,150.323730,155.101563,148.472061,152.570923,152.570923,1.360665e+09
364,31/12/2021,152.529099,156.579666,147.867035,149.727280,149.727280,1.378517e+09

In [ ]:
#import pandas_datareader as pdr
import pandas_datareader.data as web
#ada_data = pdr.yahoo.daily.YahooDailyReader('ADA-EUR',start='2021-01-01', end='2021-12-31')
tsla_data = web.DataReader('TSLA',data_source='yahoo',start='2021-01-01', end='2021-12-31')
tsla_data.head()
#
# Get the data for Cardano (ADA) from Yahoo Finance
#ada_data = web.DataReader("ADA-EUR", data_source='yahoo', start='2021-01-01', end='2021-12-31')

# Print the first five rows of the data
#print(ada_data.head())

RemoteDataError: ignored

In [ ]:
type(ada_data)

pandas_datareader.yahoo.daily.YahooDailyReader

In [ ]:
df_ada_data = pd.ada_data

AttributeError: ignored

In [ ]:
import requests

In [ ]:
df.columns

Index(['User_ID', 'UTC_Time', 'Account', 'Operation', 'Coin', 'Change',
       'Remark'],
      dtype='object')

In [ ]:
list(df['Operation'].unique())

['BNB Vault Rewards',
 'Buy',
 'Deposit',
 'Distribution',
 'Fee',
 'Liquid Swap Add/Sell',
 'Liquidity Farming Remove',
 'Savings Distribution',
 'Sell',
 'Simple Earn Flexible Airdrop',
 'Simple Earn Flexible Interest',
 'Simple Earn Flexible Redemption',
 'Simple Earn Flexible Subscription',
 'Simple Earn Locked Rewards',
 'Small Assets Exchange BNB',
 'Staking Purchase',
 'Staking Redemption',
 'Staking Rewards',
 'Swap Farming Rewards',
 'Transaction Related',
 'Withdraw']

In [ ]:
df[df['Operation'] == 'Deposit'].sort_values(by='Coin')

In [ ]:
df_deposits_2021_Binance = df[df['Operation'] == 'Deposit'].sort_values(by='Coin')

In [ ]:
df_deposits_2021_Binance.to_excel('deposits_2021_Binance.xlsx')

In [ ]:
df[df['Operation'] == 'Staking Rewards'].sort_values(by='Coin')

In [ ]:
list(df_binance_stakingRewards_2021['Coin'].unique())

In [ ]:
df_binance_stakingRewards_2021['Coin'].unique()

array(['ADA', 'ALGO', 'ATOM', 'AVAX', 'AXS', 'BNB', 'CAKE', 'COTI', 'DOT',
       'EGLD', 'FIL', 'HNT', 'INJ', 'KSM', 'LUNA', 'MATIC', 'ONE', 'SAND',
       'SOL'], dtype=object)

In [ ]:
df_binance_stakingRewards_2021.to_excel('binance_stakingRewards_2021.xlsx',index=False)

In [ ]:
df_binance_stakingRewards_2021_ADA.to_excel('binance_stakingRewards_2021_ADA.xlsx',index=False)

In [ ]:
df_binance_stakingRewards_2021_SOL = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'SOL'].sort_values(by='UTC_Time')

In [ ]:
df_binance_stakingRewards_2021_SOL.to_excel('binance_stakingRewards_2021_SOL.xlsx',index=False)

In [ ]:
df_binance_stakingRewards_2021_SOL['Change'].sum()

0.70715951

In [ ]:
df_binance_stakingRewards_2021_AVAX = df_binance_stakingRewards_2021[df_binance_stakingRewards_2021['Coin'] == 'AVAX'].sort_values(by='UTC_Time')

In [ ]:
df_binance_stakingRewards_2021_AVAX['Change'].sum()

8.12844493

In [ ]:
df_binance_stakingRewards_2021_AVAX.to_excel('binance_stakingRewards_2021_AVAX.xlsx',index=False)

In [ ]:
df_ADA_StkRwrd_2021_Binance.drop('Date',axis=1,inplace=True)

In [ ]:
df_ADA_StkRwrd_2021_Binance

,User_ID,UTC_Time,Account,Operation,Coin,Change,Remark,DateTime
4196,59094579,01/07/2021 01:33,Spot,Staking Rewards,ADA,1.386135,NaN,2021-07-01 01:33:00
4197,59094579,01/07/2021 01:35,Spot,Staking Rewards,ADA,0.000317,NaN,2021-07-01 01:35:00
4198,59094579,01/07/2021 01:35,Spot,Staking Rewards,ADA,0.000317,NaN,2021-07-01 01:35:00
4199,59094579,01/07/2021 01:37,Spot,Staking Rewards,ADA,0.000633,NaN,2021-07-01 01:37:00
4200,59094579,01/07/2021 01:40,Spot,Staking Rewards,ADA,0.000634,NaN,2021-07-01 01:40:00
...,...,...,...,...,...,...,...,...
24818,59094579,31/12/2021 00:42,Spot,Staking Rewards,ADA,0.015296,NaN,2021-12-31 00:42:00
24822,59094579,31/12/2021 00:42,Spot,Staking Rewards,ADA,0.021342,NaN,2021-12-31 00:42:00
24825,59094579,31/12/2021 00:42,Spot,Staking Rewards,ADA,0.596207,NaN,2021-12-31 00:42:00
24828,59094579,31/12/2021 00:43,Spot,Staking Rewards,ADA,0.066628,NaN,2021-12-31 00:43:00
24830,59094579,31/12/2021 00:43,Spot,Staking Rewards,ADA,0.149940,NaN,2021-12-31 00:43:00

In [ ]:
import requests
import datetime

date = datetime.datetime(2022, 1, 1) # date for which you want to get the price

url = f"https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=ADA&market=USD&apikey=<YOUR_API_KEY>&datatype=json"

response = requests.get(url)
data = response.json()

price = data["Time Series (Digital Currency Daily)"][date.strftime("%Y-%m-%d")]["4a. close (USD)"]
Replace <YOUR_API_KEY> with your own Alpha Vantage API key. The price variable will contain the close price of ADA in USD for the specified date.

Note: The above code assumes the availability of the data for the specified date in the Alpha Vantage API. Additionally, there may be usage limits for free API keys so you may want to consider upgrading to a paid plan if you need to make a lot of requests.




Regenerate response